
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-text-center">
  <img src="assets/icon1.png" alt="beach-img" width="450">
</div>

<div class="ion-text-center">
  <ion-card-content>
      <ion-title>Enter Your Information</ion-title>
</ion-card-content>
</div>


<ion-card>
<ion-list>
  <ion-item>
    <ion-input label="Username" placeholder="Enter Here..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Password" placeholder="Enter Here..."></ion-input>
  </ion-item>
</ion-list>
</ion-card>

<ion-button>
  Sign In
</ion-button>

