<ion-header>
  <ion-toolbar>
    <ion-title>Appointments</ion-title><ion-button href="/dashboard" size="small">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-header>
<ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>To Approve </ion-label>
    </ion-item-divider>
    </ion-item-group>
</ion-list>
</ion-header>

<ion-content class="toapprove">
<ion-list>
<ion-button color="success" fill="clear">Appointment 1</ion-button>
<br>
<ion-button color="success" fill="clear">Appointment 2</ion-button>
<br>
<ion-button color="success" fill="clear">Appointment 3</ion-button>
<br>
</ion-list>
</ion-content>



  
