
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-button class="signoutbtn" size="small" color="danger" href="/login">Sign Out</ion-button>
      <ion-title class="ion-text-center">Book Massage</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

<ion-list>
<ion-grid>
  <ion-col>
<br>
<ion-button href="/viewappointment" color="success" style="width: 100%">View Appointment</ion-button>
<br>
<br>
<br>
<ion-button href="/pendapp" color="success" style="width: 100%">Pending Appointment</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Appointment Approval</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Manage Therapist</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Data Reports</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Feedback</ion-button>
  </ion-col>
</ion-grid> 
</ion-list>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button href="/notification"><ion-icon name="notifications"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>What is Ventosa?</ion-card-title>
        <ion-card-subtitle>Offered Services!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="content">
        <iframe width="auto" height="250" src="https://www.youtube.com/embed/InlxUxtVWaE" title="What You Need to Know about Cupping"></iframe>
      </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            What is Massage?
            <ion-card-content class="ion-text-justify">
              Massage is a type of integrative medicine in which a massage therapist manipulates 
              your skin, muscles, tendons and ligaments. In massage therapy, a trained, certified medical professional (massage therapist) manipulates the soft tissues 
              of your body — muscle, connective tissue, tendons, ligaments and skin.
            </ion-card-content>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-list>
</div>

