<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<div class="icon">
  <img src="assets/icon1.png" width="450">
</div>

<ion-card-content>
      <ion-title>Signed In As</ion-title>
</ion-card-content>

<ion-content class="plsselect">
  <h5>Please Select</h5>
</ion-content>


<div class="container">
<br>
<ion-button href="/dashboard" color="success" class="admin">
  Admin
</ion-button>
<br>
<ion-button color="success" class="therapist">
  Therapist
</ion-button>
<br>
<ion-button color="success" class="client">
  Client
</ion-button>
<br>
<br>
</div>
<br>
<br>
<br>